:root {
  --bg: #25282a;
  --light-blue: #71abff;
  --biege: #d0ba91;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
}

input[type=radio],
input[type=radio]:hover,
input[type=radio]:checked {
  appearance: none;
}

input[type=radio] {
  background-color: var(--light-blue);
  border: 0.2em solid var(--light-blue);
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  transition: 0.5s;
  cursor: pointer;
}

input[type=radio]:hover {
  background-color: white;
  border-color: white;
}

input[type=radio]:active {
  background-color: var(--biege);
  border-color: var(--biege);
}

input[type=radio]:checked {
  background-color: var(--bg);
  border: 0.2em solid var(--light-blue);
  cursor: default;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 40em;
  padding: 1em;
}

.media-container {
  display: flex;
  flex-direction: row;
  max-width: 40em;
  gap: 1em;
  overflow: hidden;
}

.media-item {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.media {
  width: 40em;
  height: 40em;
  border-radius: 1em;
}

.text {
  width: 15em;
  font-size: 1.5em;
  color: white;
}

.slider {
  position: absolute;
  align-self: flex-end;
  margin: 41.5em -1em 0;
}

.radio {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.button-area {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
}

.link {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.smiley {
  display: inline-flex;
  animation: rotate 1s infinite linear;
  user-select: none;
}

.smiley:hover {
  animation-name: rotate-reverse;
  cursor: none;
}

.code {
  font-family: 'Courier New', Courier, monospace;
}

.text-small {
  font-size: 0.7em;
}

.jumpy {
  animation: jump 1s infinite linear;
}



@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotate-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

@keyframes jump {
  33% {
    transform: translateY(0.2em);
  }
  66% {
    transform: translateY(0);
  }
}



@media screen and (max-width: 1024px) {

  .slider {
    align-self: auto;
  }

  .media-item {
    gap: 6em;
  }

  .text {
    width: auto;
  }

}

@media screen and (max-width: 690px) {

  .slider-container {
    max-width: calc(100vw - 4em);
  }

  .media-container {
    max-width: calc(100vw - 4em);
  }

  .media {
    max-width: calc(100vw - 4em);
    max-height: calc(100vw - 4em);
  }

  .slider {
    margin-top: calc(100vw - 2.7em);
  }

}

@media screen and (max-width: 420px) {

  .media-item {
    gap: 6em;
  }

}

@media screen and (max-width: 210px) {

  .slider-container {
    padding: 0.5em;
  }

  .media-container {
    max-width: calc(100vw - 1em);
  }

  .media-item {
    gap: 4em;
  }

  .media {
    max-width: calc(100vw - 1em);
    max-height: calc(100vw - 1em);
  }

  .media-item {
    gap: 7em;
  }

  .slider {
    margin: calc(100vw - 0.5em) auto;
  }

  .radio {
    grid-template-columns: repeat(4, 1fr);
  }

}